{# @var plugin \jelle\craftjsonplugin\JsonPlugin #}
{# @var settings \jelle\craftjsonplugin\models\Settings #}

{% import '_includes/forms' as forms %}

{% set selectedTab = craft.app.request.getParam('tab') ?? 'configuratie' %}

<input type="hidden" name="doSync" id="doSync" value="0"/> <div class="plugin-tabs" data-selected-tab="{{ selectedTab }}">
	<a href="?tab=configuratie" class="{{ selectedTab == 'configuratie' ? 'active' : '' }}">Configuratie</a>
	<a href="?tab=instellingen" class="{{ selectedTab == 'instellingen' ? 'active' : '' }}">Instellingen</a>
	<a href="?tab=statistieken" class="{{ selectedTab == 'statistieken' ? 'active' : '' }}">Statistieken</a>
</div>

{% include 'json-plugin/_settings-tab-configuratie' with {
    settings: settings,
    sectionOptions: sectionOptions,
    fieldOptions: fieldOptions,
    selectedTab: selectedTab
} %}

{% include 'json-plugin/_settings-tab-instellingen' with {
    settings: settings,
    selectedTab: selectedTab
} %}

{% include 'json-plugin/_settings-tab-statistieken' with {
    stats: stats,
    statsPeriod: statsPeriod,
    selectedTab: selectedTab
} %}
